[program:green]
directory = /project/green/dotstamp_deploy
environment = ENV_CONF=prod_green
command = /project/green/dotstamp_deploy/dotstamp_server
autostart = true
startsecs = 5
user = root
redirect_stderr = true
stdout_logfile = /var/log/supervisord/green.log
