[program:blue]
directory = /project/blue/dotstamp_deploy
environment = ENV_CONF=prod_blue
command = /project/blue/dotstamp_deploy/dotstamp_server
autostart = true
startsecs = 5
user = root
redirect_stderr = true
stdout_logfile = /var/log/supervisord/blue.log
