server {
    listen 80;

    server_name dotstamp.com;
    server_tokens off;

    charset utf-8;
    index index.html index.htm;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log error;

    location /static/ {
        access_log off;
        expires 1d;
        gzip_static always;
        gunzip on;

        root "/project/blue/dotstamp_deploy";
    }

    location = /movie/upload/ {
        fastcgi_read_timeout 180;

        try_files /_not_exists_ @backend;
    }

    location = /movie//make/ {
        fastcgi_read_timeout 180;

        try_files /_not_exists_ @backend;
    }

    location / {
        try_files /_not_exists_ @backend;
    }


    location @backend {
        proxy_pass http://127.0.0.1:{{ env_server_blue_port }};
    }
}
